.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.formContainer input {
  width: 100%;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: 0.1px solid black;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.formContainer button {
  background: #f5b754;
  border: 0;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  width: 100%;
  font-weight: 700;
}
.formContainer button:hover {
  cursor: pointer;
}
