.container {
  min-height: 70vh;
  margin: auto;
  margin-bottom: 5rem;
  padding: 2rem 9%;
}


.formContainer {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  margin-top: 4rem;
}

.imageContainer img {
  width: 33%;
  border-radius: 1rem;
}
