.container {
  width: 33.333%;
}

.headers {
  font-size: 1.3rem;
}

.container form {
  margin-top: 2.5rem;
}

.container form label {
  font-weight: 500;
}

.container form input,
.container form textarea,
.container form select {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border: 0;
  border: 0.1px solid rgb(222, 222, 222);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container form textarea {
  height: 150px;
  resize: none;
}
