.container {
  width: 33.333%;
}

.headers {
  font-size: 1.3rem;
}

.container form {
  margin-top: 2.5rem;
}

.container form label {
  font-weight: 500;
}

.container form input,
.container form textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border: 0.1px solid black;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container form textarea {
  height: 150px;
  resize: none;
}
