.container {
  margin-top: 5rem;
  padding: 2rem 9%;
}

.container h1 {
  text-align: center;
  margin-bottom: 5rem;
}

.loading {
  text-align: center;
  font-size: 1.8rem;
}

.postsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 3rem;
}
.imgContainer img {
  border-radius: 0.6rem;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.post {
  transition: all 0.2s ease;
}

.post:hover {
  cursor: pointer;
  scale: 1.05;
  transform: translateY(-6px);
}

.loc {
  color: grey;
  font-weight: 600;
  margin-top: 0.3rem;
}
