.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 20%;
  margin: auto;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.loggedP {
  width: 40%;
  margin: auto;
  background-color: red;
  margin-top: 8rem;
}
