.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form input {
  width: 100%;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: 0.1px solid black;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form button {
  background: #f5b754;
  border: 0;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  width: 100%;
  font-weight: 700;
}
.form button:hover {
  cursor: pointer;
}

.buttonsContainer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.githubButton {
  width: 100%;
  border: 0.1px solid black;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  background: rgb(0, 0, 0);
  color: white;
  margin-bottom: 1rem;
  font-weight: 700;
}

.githubButton:hover {
  cursor: pointer;
}

.facebookButton {
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  background: #0766ff;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.facebookButton:hover {
  cursor: pointer;
}

.googleButton {
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  background: #ff9554;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
}
.googleButton:hover {
  cursor: pointer;
}
.icon {
  font-size: 2.5rem;
  vertical-align: middle;
  margin-right: 1rem;
}
