.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.buttonsContainer{
    margin-top: 2rem;
}

.githubButton {
  border: 0;
  border-radius: 1rem;
  padding: 1rem;
  background: #000000;
  margin-right: 1rem;
  margin-left: 1rem;
  color: white;
}
.facebookButton {
  border: 0;
  border-radius: 1rem;
  padding: 1rem;
  background: #0766ff;
  color: white;
}
